# Dependencies
node_modules/

# Environment
.env
.env.*

# Logs
logs
*.log
npm-debug.log*

# OS / IDE
.vscode/
.DS_Store

# Coverage
coverage/

# Build
dist/
build/

# Cache
.cache
.parcel-cache

# Misc
*.pid
*.seed
*.pid.lock

# Optional user data
data/user.json
data/users.json